
<link href="~/Content/Site.css" rel="stylesheet" />

<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/myApp.js"></script>
<script src="~/Scripts/draganddrop.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<body>
    <div class="container" ng-controller="MainCtrl">
        <div class="row topRow">
            <h4 class="heading">
                Drag and drop between the two lists.
            </h4>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <ul ui-on-drop="onDrop($event,$data,men)">
                    <li ui-draggable="false" drag="man"
                        on-drop-success="dropSuccessHandler($event,$index,men)"
                        ng-repeat="man in men track by $index">
                        {{man}}
                    </li>
                </ul>
            </div>
            <div class="col-xs-6">
                <ul ui-on-drop="onDrop($event,$data,women)">
                    <li ui-draggable="false" drag="woman"
                        on-drop-success="dropSuccessHandler($event,$index,women)"
                        ng-repeat="woman in women track by $index">
                        {{woman}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>